apiVersion: v1
kind: Secret
metadata:
  name: {{application}}-secret
  namespace: {{namespace}}
  labels:
    app: {{application}}
type: Opaque
stringData:
{%for key, value in secrets.items()%}
  "{{key}}": "{{value}}"
{%endfor%}